<h1>My Cart</h1>
<div class='cart_page row'>
  <div class='row cart_title_row'>
    <div class='col span_3 cart_title'>
      <h2>ITEM</h2>
    </div>
    <div class='col span_3 cart_title'>
      <h2></h2>
    </div>
    <div class='col span_3 cart_title'>
      <h2>QUANTITY</h2>
    </div>
    <div class='col span_3 cart_title'>
      <h2>PRICE</h2>
    </div>
  </div>
    <% @current_cart.cart_items.each do |item| %>
      <%= render partial: 'cart_items/cart_item', locals: {item: item} %>
    <% end %>
  <div class= 'cart_page row cart_totals'>
    <div class='col span_3 cart_title'>
    <%= link_to 'Destroy', @current_cart, method: :delete, data: { confirm: 'Are you sure you want to delete your cart?  These changes cannot be undone.' } %>
    </div>
    <div class='col span_3 cart_title'>
      <h2 id='num_item_cart_page'></h2>
    </div>
    <div class='col span_3 cart_title'>
      <h2></h2>
    </div>
    <div class='col span_3 cart_title'>
      <h2 id='my_cart_total'><%= number_to_currency(@current_cart.total) %></h2>
    </div>
  </div>
</div>