<div id="footer">
  <div class="footer-container row gutters">
    <div class="col span_4 footer_col">
      <p><%= link_to 'About', about_path %><br>
        Press<br>
        Contact</p>
    </div>
    <div class="col span_4 footer_col">
        <p>Terms<br>
          Policies</br>
          Sitemap</p>
    </div>

    <div class="col span_4 footer_col">
        </br>
        <div id="email_input">
          <p id="subscribe_notice"><%= notice %></p>
          <%= render 'subscribers/form' %>
        </div>
    </div>
  </div>
</div>