<div id="footer">
    <div class="footer-container row gutters">
      <div class='col span_1 emptycol'>
        <p></p>
      </div>
      <div class="col span_3">
        <p><%= link_to 'About', welcome_about_path %></br>
        Press</br>
        Contact</p>
      </div>
      <div class="col span_3">
        <p>Terms</br>
        Policies</br>
        Sitemap</p>
      </div>

      <div class="col span_3">
      </br>
        Subscribe...
        <div id="email_input">
        <form id="email">
          <input id="email-input" type="text" placeholder="Email..." />
          <div id="subscribe-button">
          <a href=''><i class="email_enter fa fa-angle-right fa-2x"></i></a>
        </div>
        </form>
        </div>
      </div>
      <div class='col span_1 emptycol'>
        <p></p>
      </div>
    </div>
  </div>