<div id="footer">
    <div class="footer-container row gutters">
      <div class='col span_1 emptycol'>
        <p></p>
      </div>
      <div class="col span_3">
        <p>About</p>
        <p>Press</p>
        <p>Contact</p>
      </div>
      <div class="col span_3">
        <p>Terms</p>
        <p>Policies</p>
        <p>Sitemap</p>
      </div>

      <div class="col span_3">
        <p>Subscribe</p>
        <div id="email_input">
        <form id="email">
          <input id="email-input" type="text" placeholder="Email..." />
          <div id="subscribe-button">
          <a href=''><i class="email_enter fa fa-angle-right fa-2x"></i></a>
        </div>
        </form>
        </div>
      </div>
      <div class='col span_1 emptycol'>
        <p></p>
      </div>
    </div>
  </div>