<div id="nav" class='navbar-container'>
  <div class='col span_12'>
    <a href='/'>
    <div class="col span_2 logo">
      <%= image_tag 'keytolifeheader.jpg', :class => 'logo_image' %>
    </div>
  </a>
    <div class="mobile_menu col span_5 search_icon">
      <form>
        <input  id='search_form' type="text">
        <a id='search-icon' href='#'><i class="fa fa-search"></i>Search</a>
      </form>
    </div>
    <div class="mobile_menu col span_1 poop">
      <a href=''>Log In</a>
    </div>
    <div class="mobile_menu col span_1 poop">
      <a href=''>Contact</a>
    </div>
    <div class="mobile_menu col span_1 poop">
      <a href=''>Cart ( 12 )</a>
    </div>
    <div class="col span_2 navbuttons">
     <i class="social navbars fa fa-bars fa-2x"></i>
     <a href='https://twitter.com/KeyToLifeGarden' target="_blank"><i class="social fa fa-twitter-square fa-2x"></i></a>
      <a href="https://www.facebook.com/keytolifeco" target="_blank"><i class="social fa fa-facebook-square fa-2x"></i></a>
      <a href='http://instagram.com/keytolifegarden' target='_blank'><i class="social fa fa-instagram fa-2x"></i></a>
      <i class="navbar social fa fa-shopping-cart fa-2x"></i>
    </div>
  </div>
</div>
<script>
  $('#search-icon').on('click', function(){
    $(this).css('float', 'center');
    $('#search_form').animate({
                 width: 'show'
             });
  });
  $(window).scroll(function() {
    $('#navbar-container').css('top', $(this).scrollTop() + "px");
});
</script>