<div id='nav2'>
  <div class='col span_1 ta-c ml-25'>
    <a href="#">HOME</a>
  </div>
  <div class='col span_2 ta-c'>
    <a href="#">PRODUCTS</a>
  </div>
  <div class='col span_2 ta-c'>
    <a href="#">RESOURCES</a>
  </div>
  <div class='col span_4'>
    <a href="#">DEALERS</a>
  </div>
</div>