<div id="slider1_container">
    <!-- Slides Container -->
    <div class='slides' u="slides">
        <div class='slider-image'><img class='slider-image' u="image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSI48wXw-53Qy43GCHPZ3VFxNM1a8NojS7idvohkJljtlE81zyY" /></div>
        <div class='slider-image'><img class='slider-image' u="image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRWZK2qZCoUBR7F5ALK8kO0ja24QyNS3nX7k0GIgDNCSbcsnsm4" /></div>
    </div>
</div>

<script>
  jQuery(document).ready(function ($) {
        var options = { $AutoPlay: true };
        var jssor_slider1 = new $JssorSlider$('slider1_container', options);
    });
</script>

