  <div id='index_main' class="row gutters">
    <div class="bgc-w welcome col span_3 green_to_white">
      <h1 class='checkout_header'>WELCOME</h1>
      <p>Key to Life allows you to truly unlock the possibilities of organic gardening, energy savings & high yields all while saving you money and time!</p>
      <p>We are proud to offer products MADE IN THE USA! Ordering is fast and easy, Key To Life just added a brand new in-house nutrient manufacturing facility and R&D based in Denver, Colorado!</p>
    </div>
    <div class="col span_6 slidediv">
      <%= render 'slider' %>
    </div>
    <div class="label_cont col span_3 green_to_white">
      <div class='label'>
        <%= image_tag 'https://www.allpetnaturals.com/images/Natural%20APN%20Icon.jpg' %>
      </div>
      <div class='label'>
        <%= image_tag 'https://d2gg9evh47fn9z.cloudfront.net/thumb_COLOURBOX7834516.jpg' %>
      </div>
      <div class='label'>
        <a href='http://www.coloradonga.org/' target="_blank"><%= image_tag 'http://plantselect.org/content/wp-content/uploads/2011/10/cnga_bw1-300x213.jpg' %></a>
      </div>
    </div>
  </div>