<div id='index_main' class="row gutters">
<div class="bgc-w welcome col span_3">
  <h2>WELCOME</h2>
  <p>Key to Life allows you to truly unlock the possibilities of organic gardening, energy savings & high yields all while saving you money and time!</p>
  <p>We are proud to offer products MADE IN THE USA! Ordering is fast and easy, Key To Life just added a brand new in-house nutrient manufacturing facility and R&D based in Denver, Colorado!</p>
</div>
<div class="col span_6 slidediv">
  <%= render 'slider' %>
</div>
<div class="debug col span_2">
</div>
<div class="debug col span_1">

</div>