<div id='index_main' class="row">
  <div class="debug col span_1">
</div>
<div class="debug col span_2">
  <h3>WELCOME</h3>
  <p>Key to Life allows you to truly unlock the possibilities of organic gardening, energy savings & high yields all while saving you money and time!</p>
</div>
<div class="debug col span_6 slidediv">
  <%= render 'slider' %>
</div>
<div class="debug col span_2">
</div>
<div class="debug col span_1">

</div>