// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new_user_form {
  font-family: Arial;
  font-size: 1.3em;
  font-weight: bold;
}

.checkout_submit {
  margin: 0 auto;
}

.regisration_submit {
  text-align:center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.address_list {
  list-style: none;
}

.coupon {
  text-align: center;
}

.address_list li {
  color: black;
}