<br>
<h1 class='checkout_header ta-c'>Contact Key To Life</h1>
<br>
<div class='row final_order_list'>
  <div class='col span_6 pad_5'>
    <h2 class='checkout_header underline'>Call Toll Free at:</h2>
    <p>
    <h2>(855) MYKEYTOLIFE<br>or<br> (695-3986)</h2>
    </p>
  </div>
  <div class='col span_6 fl-nd pad_5'>
    <h2 class='checkout_header underline'>Company Headquarters:</h2>
    <p>
      Key To Life<br>
      3881 C Steele St<br>
      Denver, CO 80205
    </p>
  </div>
</div>
<br>
  <!-- <div class='row final_order_list'> -->
    <h1 class='checkout_header ta-c'>Customer Support</h1>
  <!-- </div> -->
<br>
<div class='row final_order_list'>
  <div class='col span_6 pad_5'>
    <h2 class='checkout_header underline'>Key To Life Office:</h2>
    <p>
      For any questions call the office at: (303)955-7838<br>
      Office Hours are Monday-Friday 9:00am - 5:00pm MST
    </p>
  </div>
  <div class='col span_6 pad_5'>
    <h2 class='checkout_header underline'>Email:</h2>
    <p>
      General Information: <a href='mailto:info@keytolifegarden.com'>info@keytolifegarden.com</a><br>
      Sales Information: <a href='mailto:sales@keytolifegarden.com'>sales@keytolifegarden.com</a>
    </p>
  </div>
  <div class='col span_6 pad_5'>
    <h2 class='checkout_header underline'>Contact Us:</h2>
    <%= render 'questions/form' %>
  </div>
  <div class='col span_6 pad_5'>
    <h2 class='checkout_header underline'>Green Idea of the Day:</h2>
    <%= render 'greenideas/form' %>
  </div>
  <div class='col span_12 pad_5'>
    <h2 class='checkout_header underline'>Shipping Information:</h2>
    <p>
      All items are shipped using UPS Ground, unless otherwise requested and arranged by the customer, prior to order completion. All orders ship within 48 hours of order confirmation.
    </p>
    <p>
      After successfully placing an order from agreenlife.com you will receive an order confirmation email with the details of your order to the email address provided. Once your order has shipped you will be emailed specific tracking information.
    </p>
    <p>
      To check the status of an order:<br>
      <br>
      <button class='link_to_button'>Click Here</button>
    </p>
  </div>
</div>